<blockquote class="blockquote">
  <h1><%= @question %></h1>
  <footer class="blockquote-footer">You</footer>
</blockquote>

<blockquote class="blockquote">
  <h1><%= @answer %></h1>
  <footer class="blockquote-footer">Your Coach</footer>
</blockquote>

<%= link_to "Ask another question", root_path %>
