<h1>Stupid Coaching</h1>

<form method="get" action="/answer" data-turbo="false" class="row">
  <div class="col-md-8">
    <label for="question">Ask your question:</label>
    <div class="input-group">
      <input id="question" type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    <div>
  <div>
</form>
